.active,
.inactive {
  font-size: x-large;
  margin-inline: 10px;
  padding: 10px;
  width: 200px;
  border: solid 3px slategray;
  border-radius: 10px;
}

.active {
  background-color: green;
}

.inactive {
  background-color: lightgrey;
}

.inactive:hover {
  background-color: skyblue;
}
