body {
  background-color: dimgray;
  color: aliceblue;
}
.App {
  text-align: center;
}

.messageTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 900px;
}

th {
  font-size: x-large;
  background-color: lightslategrey;
}

td {
  background-color: grey;
}

.messageTable,
th,
td {
  padding: 5px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.formContainer {
  border: solid 2px black;
  width: 800px;
  margin: auto;
  font-size: large;
  padding: 20px;
  text-align: left;
  background-color: lightgray;
  color: black;
}

.formElement {
  clear: both;
  font-size: large;
}

.formElement label {
  margin-top: 10px;
}
.formElement input {
  width: 100%;
  clear: both;
  background-color: gray;
  color: white;
}

.formElement button {
  font-size: larger;
  padding: 5px 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 10px;
  background-color: gray;
  color: white;
}
